@font-face {
   src: url(../fonts/google-font/Poppins-Bold.ttf);
   font-family: Poppins-Bold;
}

@font-face {
   src: url(../fonts/google-font/Roboto-Medium.ttf);
   font-family: Roboto-Medium;
}

@font-face {
   src: url(../fonts/google-font/BebasNeue-Regular.ttf);
   font-family: BebasNeue-Regular;
}

@font-face {
   src: url(../fonts/google-font/Cookie-Regular.ttf);
   font-family: Cookie-Regular;
}



/* // Gradient colors */
/* :root {
   --gradient-1 : linear-gradient(to bottom right, rgb(107, 107, 255), blue);
   --gradient-2 : linear-gradient(to bottom right, rgb(80, 80, 255), rgb(253, 119, 119));
   --gradient-3 : linear-gradient(to bottom right, rgb(255, 207, 145), rgb(255, 111, 92));
   --gradient-4 : linear-gradient(to bottom right, #2af598, #009efd);
} */


* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;

}

h1 {
   font-size: 2.4rem;
   font-family: Poppins-Bold;
   color: #3A3A3A;

}

h2 {
   font-size: 40px;
   font-family: Poppins-Bold;
   color: #3A3A3A;
}

p {
   font-family: Arial, Helvetica, sans-serif;
   color: #3A3A3A;
}

a {
   text-decoration: none;
   font-family: Roboto-Medium;
   font-size: 12px;
   color: white;
   transition: 0.5s;
}

.link-btn {
   padding: 12px 24px;
   background-color: #E02C6D;
   border-radius: 40px;

}

.container {
   width: 86%;
   margin: 0px auto;

}


/* <!------------------------------
head section start  
----------------------------------> */
.content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 2rem;

}

/* navbar */
.navbar {

   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 30px 0px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

.navbar p {
   color: #3A3A3A;
   font-size: 1.2rem;
   font-family: Roboto-Medium;
   font-weight: 700;
   margin-left: 5px;

}

.navbar ul {
   flex: 1;
   text-align: right;
}

.navbar ul li {
   list-style: none;
   display: inline-block;
   margin: 0 10px;
}

.navbar ul li a {
   color: #3A3A3A;
   font-size: 16px;
}

/* <!-- responsive menu toggler? --> */
#nav-toggler {
   display: none;

}

.nav-toggler-icon {
   display: none;
}


/* <!-- responsive menu toggler? --> */
/* navebar end? */


.header-content {
   width: 86%;
   /* background-color: rgba(255, 99, 71, 0.233); */
   margin-top: 140px;
   margin-left: 6px;

}

.header-content p {
   width: 91%;
   justify-content: center;
   margin: 15px 0px 25px 0px;
   line-height: 22px;
   font-size: 18px;
}


.header-content a .fas {
   color: white;
   margin-left: 10px;
   transition: 0.5s;
}

.header-content a:hover {
   color: #E02C6D;
   background-color: white;
   border: 1px solid #E02C6D;
}

.header-content a:hover .fas {
   color: #E02C6D;
   background-color: white;
   /* border: 1px solid #E02C6D; */
}

/* header right */
.right-side {
   /* background-color: rgba(255, 255, 0, 0.308); */
   display: flex;
   justify-content: center;
   align-items: center;

}

.img-inner {
   /* background-color: rgba(236, 230, 230, 0.089); */
   width: 450px;
   height: 450px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 2px solid rgba(223, 215, 215, 0.178);
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   margin-top: 10px;

}

.img-inner img {
   width: 400px;
   height: 400px;
   border-radius: 50%;
   animation: headerimage 7s ease-in-out 0.5s infinite alternate;

}

/* <!--------------------------------
head section end 
-----------------------------------> */

/* <!--------------------------------
<!-- start company log banner -->
-----------------------------------> */
.row {
   width: 100%;
   padding: 20px 0px;
   /* background-color: rgba(255, 0, 0, 0.103); */
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 40px;

   box-shadow: rgb(0 0 0 / 6%) -2.05px 3.95px 5.6px;
}

.logo-images {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   width: 96%;

}

.logo-images img {
   transition: .5s;
   animation: headerimage 7s ease-in-out 0.5s infinite alternate;

}

.logo-images img:hover {
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   cursor: pointer;

}


/* <!--------------------------------
<!-- end company log banner -->
-----------------------------------> */

/* <!-- start blog content --> */
#blog-section {
   position: relative;
   margin-bottom: 60px;
}

.title-coll {
   text-align: center;
   margin-top: 60px;

}

.top-blogs {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 30px;

}

.blogs {
   /* background-color: rgba(255, 251, 0, 0.281);
   display: grid;
   grid-template-columns: repeat(3, 1fr); */
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 30px;
   grid-row-gap: 30px;
   width: 90%;
}

.blog {
   width: 100%;
   /* background-color: red; */
   padding: 15px;
   border: 1px solid white;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   border-radius: 10px;
   transition: transform 2s ease-in-out;

}

.blog:hover {
   transform: scale(1.1);
   cursor: pointer;

}

.blog .thumbnail img {
   width: 100%;

}

.blog-info {
   margin-top: 10px;
}

.blog-info h2 {
   font-size: 26px;

}

.blog-info h4 {
   color: #292c2e;
   font-size: 25px;
   margin-top: 8px;
   margin-bottom: 12px;

}

.blog-rating {
   margin-bottom: 10px;
}

.blog-rating .fa-star {
   color: orange;
}

.blog-rating .fa-star-half-alt {
   color: orange;
}

.blog-rating span {
   color: #5E6366;
   font-size: 18px;
   margin-left: 12px;

}

.blog-rating p {
   color: #5E6366;

}

.blog-link {
   width: 139px;
   position: absolute;

   right: 50px;
   bottom: -50px;
   font-weight: bold;

}

.blog-link a {
   padding: 10px 24px;
   color: #E02C6D;
   font-size: 15px;

}

.blog-link a .fa-arrow-right {
   margin-left: 10px;
   font-size: 15px;
}

/* <!-- end blog content --> */

/* <!-- start Contact section blog content --> */
.cta{
   /* background-color: red; */
}
.contact-main {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 30px;

   padding-bottom: 100px;
   margin-top: 126px;

}
.left-content{
   padding-left: 20px;
}

.left-content h1 {
   line-height: 40px;

}

.left-content p {
   font-size: 17px;
   color: #100838;
   line-height: 23px;
   margin: 15px 0px;
   width: 558px;
   justify-content: center;
}

.left-content .contact-field input {
   padding: 8px;
   width: 48%;
   margin: 0px 5px 15px 0px;
   border: 1px solid #E02C6D;
   border-radius: 4px;
   box-sizing: border-box;

}

.left-content .contact-field textarea {
   width: 97.2%;
   height: 200px;
   box-sizing: border-box;
   padding: 10px;
   border: 1px solid #E02C6D;
}

.contact-field .cont-btn {

   width: 250px;
   height: 50px;
   margin-top: 30px;

}

.contact-field .cont-btn .fas {
   margin-left: 15px;
}

.contact-field .cont-btn a:hover {
   color: #E02C6D;
   background-color: white;
   border: 1px solid #E02C6D;
}

.contact-field .cont-btn a:hover .fas {
   color: #E02C6D;
   background-color: white;
   /* border: 1px solid #E02C6D; */
}

/* right side img part? */
.right-image {

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;


}

.right-image img {
   width: 550px;
   height: 550px;
   margin-left: 15px;

   animation: headerimage 7s ease-in-out 0.5s infinite alternate;

}

/* <!-- end Contact section blog content --> */

/* <!-- star footer section --> */
footer {
   background-color: #0c092b;
   width: 100%;
   overflow: hidden;
   padding: 20px 0px;
}

.footer-content {
   margin: 0px auto;
   width: 400px;

}

.footer-content h2 {
   color: white;
   font-size: 1.2rem;
   text-align: center;
}

.footer-content p {
   color: whitesmoke;
   font-size: .7rem;
   text-align: center;
   margin: 5px 0px;
}

.footer-content .footer_icon {
   width: 90%;

   margin: 20px auto;
   padding: 10px;
}

.footer-content .footer_icon ul {
   text-align: center;
}

.footer-content .footer_icon ul li {
   display: inline-block;

}

.footer-content .footer_icon ul li a:hover {

   background-color: whitesmoke;

}

.footer-content .footer_icon ul li a:hover>i {
   color: #E02C6D;

}

.footer-content .footer_icon ul li a {
   color: whitesmoke;
   /* display: inline-block; */
   font-size: 12px;
   line-height: 12px;
   width: 12px;
   height: 12px;
   border: 1px solid white;
   padding: 12px;
   text-align: center;
   border-radius: 50%;
   background-color: rgba(245, 245, 245, 0.13);

}

/* <!-- end footer section --> */

/* ANIMATION */
@keyframes headerimage {
   0% {
      transform: scale(1);

   }

   50% {
      transform: scale(1.1);

   }

   100% {
      transform: scale(1);

   }
}




/* Mobile responsive start? */
@media only screen and (min-width: 0px) and (max-width: 575px) {
   body {
      /* background-color: orange; */

   }

   /* <!-- responsive menu toggler? --> */

   .nav-toggler-icon {
      display: block;
      color: #0c092b;
      font-size: 30px;
   }

   .nav-list {
      position: absolute;
      top: 80px;
      left: 0px;
      width: 100%;
      background-color: #e02c6ef8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 0px;
      transform: translateY(-430px);
      transition: 1s ease-in-out;
      z-index: 9;


   }

   .nav-list li {
      padding: 15px 0px;
   }

   .nav-list li a {
      color: whitesmoke !important;
   }

   #nav-toggler:checked~.nav-list {
      transform: translateY(0px);

   }

   /* <!-- responsive menu toggler? --> */


   /* header part start? */
   .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .left-side {
      order: 2;
   }

   .left-side {
      height: 300px;
      margin-left: 25px;

      margin-top: 10px;
   }

   .header-content {
      text-align: center;
      margin-top: -2px;

   }

   .header-content h1 {
      font-size: 30px;
   }

   .header-content p {
      display: inline-block;
      text-align: center;
      width: 100%;

   }

   /* <!-- right side start --> */
   .right-side {
      order: 1;

   }

   .img-inner {
      width: 320px;
      height: 320px;
      z-index: 8;
   }

   .img-inner img {
      height: 300px;
      width: 300px;
      z-index: 7;
   }

   /* header part end? */

   /* company log style start  */
   .logo-images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
   }

   /* company blog style end  */

   /* <!-- start blog content --> */
   .blogs {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }

   .blog-link {
      width: 100%;
      text-align: center;

   }

   /* <!-- end blog content --> */

   /* <!-- start Contact section blog content --> */

   .contact-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .left-content {
      width: 100%;
   }

   .left-content h1 {
      font-size: 30px;
      width: 100%;
      text-align: center;
   }

   .left-content p {
      width: 100%;
      text-align: center;
   }

   .contact-field {
      width: 100%;

   }

   .left-content .contact-field input {
      width: 100%;
   }

   .left-content .contact-field textarea {
      width: 100%;
   }

   .right-image img {
      width: 300px;
      height: 300px;
   }

   /* <!-- end Contact section blog content --> */
   /* footer section start? */
   .footer {
      width: 100%;
   }

   .footer-content {
      text-align: center;
   }


}
/* tablet  responsive start? */
@media only screen and (min-width: 576px) and (max-width: 767px) {
   body {
      /* background-color: rgba(255, 0, 0, 0.527); */
   }

   .container {
      width: 96%;
   }

   .navbar {
      width: 100%;

   }

   /* <!-- responsive menu toggler? --> */

   .nav-toggler-icon {
      display: block;
      color: #0c092b;
      font-size: 30px;
   }

   .nav-list {
      position: absolute;
      top: 80px;
      left: 0px;
      width: 100%;
      background-color: #e02c6ede;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 0px;
      transform: translateY(-450px);
      transition: 1s ease-in-out;
      z-index: 9;

   }

   .nav-list li {
      padding: 15px 0px;
   }

   .nav-list li a {
      color: whitesmoke !important;
   }

   #nav-toggler:checked~.nav-list {
      transform: translateY(0px);

   }

   /* <!-- responsive menu toggler? --> */

   .header-content {
      margin-top: 40px;

   }

   .header-content h1 {
      font-size: 30px;
   }

   .header-content p {
      width: 250px;

   }

   .img-inner {
      width: 270px;
      height: 270px;

   }

   .img-inner img {
      width: 260px;
      height: 260px;

   }

   /* header end  */

   /* company log style start  */
   .logo-images {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
   }

   /* company blog style end  */

   /* <!-- start blog content --> */
   .blogs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   .blog-link {
      width: 100%;
      text-align: center;

   }

   /* <!-- end blog content --> */

   /* <!-- start content section blog content --> */
   .contact-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .left-content {}

   .right-image img {
      width: 400px;
      height: 400px;

   }

   /* <!-- end content section blog content --> */

}
/* tablet  responsive start? */
@media only screen and (min-width: 768px) and (max-width: 991px) {

   .container {
      width: 96%;

   }

   .navbar {
      width: 100%;

   }

   /* <!-- responsive menu toggler? --> */

   .nav-toggler-icon {
      display: block;
      color: #0c092b;
      font-size: 30px;
   }

   .nav-list {
      position: absolute;
      top: 80px;
      left: 0px;
      width: 100%;
      background-color: #e02c6ee3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 0px;
      transform: translateY(-450px);
      transition: 1s ease-in-out;
      z-index: 9;

   }

   .nav-list li {
      padding: 15px 0px;
   }

   .nav-list li a {
      color: whitesmoke !important;
   }

   #nav-toggler:checked~.nav-list {
      transform: translateY(0px);

   }

   /* <!-- responsive menu toggler? --> */
   .content{
      margin-top: 30px;
   }

   .header-content {
      margin-top: 40px;

   }

   .header-content h1 {
      font-size: 34px;
      width: 450px;
   }

   .header-content p {
      width: 400px;
      font-size: 20px;


   }

   .img-inner {
      width: 270px;
      height: 270px;

   }

   .img-inner img {
      width: 260px;
      height: 260px;

   }

   /* header end  */

   /* company log style start  */
   .logo-images {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
   }

   /* company blog style end  */


   /* <!-- start blog content --> */
   .blogs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   .blog-link {
      width: 100%;
      text-align: center;

   }

   /* <!-- end blog content --> */

   /* <!-- start content section blog content --> */
   .contact-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

   }
   .left-content h1{
      width: 90%;
   }
   .left-content p{
      width: 90%;
   }

   .right-image img {
      width: 400px;
      height: 400px;

   }

   /* <!-- end content section blog content --> */


}

/* full site start? */
@media only screen and (min-width: 992px) and (max-width: 1199px) {


   .navbar {
      width: 100%;

   }

   .content{
      margin-top: 30px;
      margin-bottom: 30px;
   }

   .header-content {
      margin-top: 40px;

   }

   .header-content h1 {
      font-size: 34px;
      width: 500px;
   }

   .header-content p {
      width: 500px;

   }

   .img-inner {
      width: 270px;
      height: 270px;

   }

   .img-inner img {
      width: 260px;
      height: 260px;

   }


   /* <!-- start content section blog content --> */
   .contact-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

   }
   .left-content{
      padding-left: 20px;
   }
   
   .left-content h1 {
      line-height: 40px;
   
   }
   
   .left-content p {

      width: 400px;

   }
   .left-content .contact-field{

      width: 95%;
   }

  
   .right-image img {
      width: 400px;
      height: 400px;

   }

   /* <!-- end content section blog content --> */


}
